body{
    background-color: rgb(34, 33, 33);
    text-align: center;
    color: white;
}
.link1 {
    color: white;
    display: block;
    padding: 10px;
    font-weight: 700;
    border-bottom: 4px solid white;
}
.link2 {
    display: block;
    padding: 10px;
    font-weight: 700;
    color: rgba(255, 255, 255, .5); 
}