.bgsignup{
    background-image: url(./sea.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgsignup2{
    background-image: url(./sea.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.iphone{
    background-image: url(./iphone.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.code{
    background-image: url(./code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.kid{
    background-image: url(./kid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.people{
    width: 150px;
    height: 150px;
    /* border-radius: 100%; */
}